/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/background.png'); /* Wallpaper */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .login {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #6a11cb;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login:hover {
    background-color: #2575fc;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 2rem;
    color: #007f7f;
    margin-bottom: 10px;
  }
  
  main h2 {
    font-size: 1.8rem;
    color: #2c2c2c;
    margin-bottom: 10px;
  }
  
  main p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .pilihan {
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .pilihan:hover {
    transform: scale(1.2);
  }
  
  .pilihan p {
      width: 100px;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
  }