* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('/static/images/background.png') no-repeat center center/cover; /* Ganti 'kereta.jpg' dengan path gambar Anda */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #6a11cb;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login:hover {
    background-color: #2575fc;
  }

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Latar belakang putih transparan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
