* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/static/images/background.png'); /* Wallpaper */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #6a11cb;
  border-radius: 5px;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.home:hover {
  background-color: #2575fc;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  color: #020202;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  width: 330px;
  margin-bottom:10px;
}

form .email {
  margin-right: 230px;
  margin-top: 10px
}
form .password {
  margin-right: 230px;
}
form  {
  margin-right: 230px;
}

.form-actions {
  margin-left: 120px;
}
button{
  padding: 7px;
  width: 80px;
  background-color: #6a11cb;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
button:hover{
  background-color: #2575fc
}

