<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>choice-regis</title>
  <link rel="stylesheet" href="/static/style/choice-regis.css">
</head>
<body>
  <div class="home"> 
    <a href="{{ url_for('home') }}" class="home">Home</a>
</div>
  <div class="container">
    <header>
      <h1>Selamat Datang</h1>
    </header>
    <main>
      <h2>Silahkan pilih terlebih dahulu !</h2>
      <div class="options">
        <a href="{{ url_for('user_view') }}" class="pilihan User">
          <p>User</p>
        </a>
        <a href="{{ url_for('admin_view') }}" class="pilihan Admin">
          <p>Admin</p>
        </a>
      </div>
    </main>
  </div>
  <footer>
    <link rel="stylesheet" href="/static/style/footer.css">
    <p>&copy; 2025 My Website. All rights reserved.</p>
</footer>
</body>
</html>