<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendaftaran Admin</title>
    <link rel="stylesheet" href="/static/style/regis-admin.css">
</head>
<body>
    <div class="home"> 
        <a href="{{ url_for('home') }}" class="login">Home</a>
    </div>
    <div class="container">
        <form class="form">
            <h1>Pendaftaran Admin</h1>
            <div class="input-group">
                <label for="name">Nama</label>
                <input type="text" id="name" name="name" placeholder="Nama" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <label for="admin-key">Kunci Admin</label>
                <input type="text" id="admin-key" name="admin-key" placeholder="Kunci Admin" required>
            </div>
            <button type="submit">Daftar sebagai Admin</button>
        </form>
    </div>
    <footer>
        <link rel="stylesheet" href="/static/style/footer.css">
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
